/* Start coding here */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.container {
  width: 100vw;
  height: 100vh;
}
.headbar {
  width: 100vw;
  background-color: gray;
  padding: 10px;
  font-size: 25px;
  color: white;
}
.chatboxA {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 7px;
  margin: 10px;
  position: relative;
  left: 1350px;
  top: 25px;
}
.greenbox {
  background-color: rgb(55, 216, 55);
  padding: 10px;
  border-radius: 25px;
  position: relative;
}
.greenM {
  position: absolute;
  bottom: 125px;
  left: 180px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 6px 5px 0px 0px rgb(55, 216, 55);
}
.canclebox {
  background-color: lightgray;
  padding: 10px;
  border-radius: 25px;
  position: relative;
}
.cancle-mark {
  position: absolute;
  background-color: gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 185px;
  bottom: 20px;
  font: 1rem;
  color: white;
  text-align: center;
}
.chatboxB {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 7px;
  margin: 10px;
  position: relative;
  top: 50px;
}
.greybox {
  background-color: gray;
  padding: 10px;
  border-radius: 25px;
}
